# Server Configuration
SECRET_KEY=luna-super-secret-jwt-key-2026
JWT_SECRET=luna-jwt-access-token-secret-9988
PORT=5000

# MySQL Database Settings (Set USE_SQLITE=false to connect to local/remote MySQL)
USE_SQLITE=true
MYSQL_USER=root
MYSQL_PASSWORD=root
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DB=luna_ecommerce
